body{
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}
header {
    background-color: #e4000f;
    padding: 20px 0;
}

.banner {
    position:relative ;
    width: 200px;
    right: -350px;
    margin: 0 auto;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}


h2 {

    position: relative;
    right: -150px;
    font-size: 35px;
}